<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Log out</title>
    <link rel="icon" href="./assets/img/logout.svg" type="image/x-icon" />
    <?php include("./view/common/link.html");?>
</head>

<body class="hold-transition layout-top-nav">
    <div class="wrapper">
        <?php include("./view/common/header.html");?>
        <!-- Content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <div class="content-header">
                <div class="container">
                    <h1 align="center">Logout!</h1>
                </div>
            </div>
        </div>
        <?php include("./view/common/footer.html"); ?>
    </div>
    <?php include("./view/common/script.html"); ?>
</body>

</html>